<p id="notice"><%= notice %></p>

  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
          <h2 class="blog-post-title"><%= link_to(post.title, post_path(post)) %></h2>
          <p class="blog-image"><%= image_tag(post.image) %></p>
          <p class="author">Submitted <%= time_ago_in_words(post.created_at) %> by <%= post.user.email %></p>
          <p class="blog-post-body"><%= post.body %></p>
          <p class="blog-post-tags">Tags: <%= post.all_tags %></p>
        </div>
      </div>
    </div>   
  <% end %>

<%= paginate @posts %>
      
