<p id="notice"><%= notice %></p>

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">The Spectre's Blog</h1>
    <p class="lead blog-description">The official blog for Commander Shepard.</p>
  </div>
</div>

<br>

  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
          <h2 class="blog-post-title"><%= post.title %></h2>
          <p class="author">Submitted <%= time_ago_in_words(post.created_at) %> by <%= post.user.email %></p>
          <p><%= post.body %></p>
        </div>
      </div>
    </div>   
  <% end %>
  
<br>

<%= link_to 'New Post', new_post_path %>

    

      
