<p id="notice"><%= notice %></p>

<h2><%= @post.display_name %></h2>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>


<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <p><%= comment.body %></p>
      <p class="user">by <%= comment.user %> on <%= comment.created_at.to_s(:short) %></p>
      <p>
        <%= link_to "x", post_comment_path(@post, comment), { :method => :delete }  %>
      </p>
    </li>
  <% end %>
</ul>

<%= form_for(@post.comments.new, :url => post_comments_path(@post)) do |f| %>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>