<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Spectre's Blog">
    <meta name="author" content="XO_Kera">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Spectre's Blog</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <% if user_signed_in? -%>
            <a class="blog-nav-item"><%= link_to 'New Post', new_post_path %> </a>
            <a class="blog-nav-item"><%= link_to 'Edit Account', edit_user_registration_path %></a>
            <a class="blog-nav-item"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></a>
          <% else -%>
            <a class="blog-nav-item"><%= link_to 'Want to join?', new_user_registration_path %></a>
            <a class="blog-nav-item"><%= link_to 'Sign in', new_user_session_path %></a>
          <% end -%> 
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title"><%= link_to "Spectre's Blog", root_path %></h1>
        <p class="lead blog-description">The official blog of kicking Reaper butt.</p>
      </div>

    <%= yield %>

    <footer class="blog-footer">
      <p>Blog built by <a href="https://twitter.com/cateia97">@cateia97</a>.</p>
    </footer>


  </body>
</html>
