<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Spectre's Blog">
    <meta name="author" content="XO_Kera">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Spectre's Blog</title>

    <%= stylesheet_link_tag    'posts', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container-fluid">
        <nav class="blog-nav">
          <% if user_signed_in? -%>
            <a class="blog-nav-item"><%= link_to 'New Post', new_post_path %> </a>
            <a class="blog-nav-item"><%= link_to 'Edit Account', edit_user_registration_path %></a>
            <a class="blog-nav-item"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></a>
          <% else -%>
            <a class="blog-nav-item"><%= link_to 'Want to join?', new_user_registration_path %></a>
            <a class="blog-nav-item"><%= link_to 'Sign in', new_user_session_path %></a>
          <% end -%> 
        </nav>
      </div>
    </div>

    <header><%= image_tag "orbitalstretch.png", class: "intro-header", style: "background-image" %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
            <h1 class="blog-title"><%= link_to "Spectre's Blog", root_path %></h1>
              <hr class="small">
              <span class="subheading">The official blog of kicking Reaper butt.</span>
            </div>
          </div>
        </div>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="main-content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    

    <footer class="blog-footer">
      <p>Blog built by <a href="https://twitter.com/cateia97">@cateia97</a>.</p>
    </footer>


  </body>
</html>
